. {
  width: 200px;
  height: 200px;
}

. {
  width: 200px;
  height: 200px;
}
<![CDATA[ ]]>
. {
  width: 200px;
  height: 200px;
}

. {
  width: 200px;
  height: 200px;
}
<![CDATA[ ]]>
. {
  width: 200px;
  height: 200px;
}

. {
  width: 200px;
  height: 200px;
}

